


<div class="col-md-4 offset-md-4">
  <h2>Ajouter un site ma gueule</h2>
    <%= form_for(@site) do |f| %>
      <%= f.label :title %>
      <p><%= f.text_field :title, style: "width:100%;"%></p>

      <%= f.label :url %>
      <p><%= f.text_field :url, style: "width:100%;"%></p>

      <%= f.label :description %>
      <p><%= f.text_area  :description, rows: 5, style: "width:100%;"  %></p>

      <%= f.submit %>
    <% end %>

</div>
